@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #333333;
}

body {
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.main {
  padding-top: 70px;
}
@media screen and (max-width: 767px) {
  .main {
    padding-top: 60px;
  }
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-left: 24px;
  }
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
    box-sizing: border-box;
  }
}

.section {
  margin-top: 160px;
}
@media screen and (max-width: 767px) {
  .section {
    margin-top: 96px;
  }
}

.util-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 12px;
  position: relative;
  font-family: "ヒラギノ明朝 ProN", "serif";
}
@media screen and (max-width: 767px) {
  .util-title {
    font-size: 30px;
  }
}
.util-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  width: 60px;
  height: 1px;
  background: #3EA1D1;
}
@media screen and (max-width: 767px) {
  .util-title::after {
    width: 42px;
    height: 3px;
  }
}
@media screen and (max-width: 767px) {
  .util-title {
    font-size: 26px;
    padding-bottom: 18px;
  }
}

.util-link {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #3EA1D1;
  border: solid 1px #3EA1D1;
  text-decoration: none;
  margin: 16px auto 0;
  display: inline-block;
  padding: 10px 54px;
  transition: background-color 0.4s, color 0.4s;
}
.util-link.-active {
  background: #3EA1D1;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .util-link:not(.-submit):hover {
    background: #3EA1D1;
    color: #fff;
  }
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 12px;
  position: relative;
  font-family: "ヒラギノ明朝 ProN", "serif";
}
.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #3f51b5;
}
@media screen and (max-width: 767px) {
  .section-title::after {
    width: 42px;
    height: 3px;
  }
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 26px;
    padding-bottom: 18px;
  }
}

.header, #header {
  background: #fff;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  .header, #header {
    height: 60px;
    z-index: 100;
  }
}

.drawer--right .drawer-hamburger {
  right: 3px;
}

.drawer-hamburger-icon {
  background: #3EA1D1;
}
.drower-open .drawer-hamburger-icon {
  background: transparent;
}
.drawer-hamburger-icon::before, .drawer-hamburger-icon::after {
  background: #3EA1D1;
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
}
@media screen and (max-width: 767px) {
  .header__inner {
    height: 60px;
  }
}

.header__logo {
  width: 120px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 100px;
  }
}
.header__logo img {
  display: block;
}

.header__nav {
  margin-left: auto;
  font-family: "ヒラギノ明朝 ProN", "serif";
}
@media screen and (max-width: 767px) {
  .header__nav {
    top: 60px;
    background: #3EA1D1;
    padding: 24px 0;
  }
}
.header__nav li a {
  text-decoration: none;
  position: relative;
}
.header__nav li a:hover::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

@media screen and (min-width: 768px) {
  .header__nav__item + .header__nav__item {
    margin-left: 46px;
  }
}

@media screen and (min-width: 768px) {
  .header__nav__list {
    display: flex;
    align-items: center;
    height: 70px;
  }
}

.header__nav__item__link {
  display: block;
  color: #333;
  height: 70px;
  line-height: 70px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .header__nav__item__link {
    color: #fff;
    font-size: 18px;
    text-align: right;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .header__nav__item__link {
    transition: color 0.4s;
  }
  .header__nav__item__link:hover {
    color: #3EA1D1;
    color: red;
  }
}

.top {
  position: relative;
}

@media screen and (max-width: 767px) {
  .top-picture {
    padding-top: 120%;
    background: url(../img/sp/top.png) center center/cover;
  }
}
@media screen and (min-width: 768px) {
  .top-picture {
    padding-top: 55%;
    background: url(../img/top.png) top right/82.5% no-repeat;
  }
}

@media screen and (max-width: 767px) {
  .top-message {
    margin-top: 31px;
  }
}
@media screen and (min-width: 768px) {
  .top-message {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    padding: 82px 44px 90px 40px;
  }
}

.top-message-title {
  font-size: 26px;
  font-weight: bold;
}

.top-message-text {
  margin-top: 18px;
}

/* ===============================================
#        concept 
=============================================== */
.concept-inner {
  margin-top: 64px;
}
@media screen and (max-width: 767px) {
  .concept-inner {
    margin-top: 46px;
  }
}
@media screen and (min-width: 768px) {
  .concept-inner {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .concept-picture {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 767px) {
  .concept-message {
    margin-top: 35px;
  }
}
@media screen and (min-width: 768px) {
  .concept-message {
    flex: 0 1 50%;
    margin-left: 6.6667%;
  }
}

.concept-message-title {
  font-size: 20px;
  font-weight: bold;
}

.concept-message-text {
  margin-top: 36px;
}
@media screen and (max-width: 767px) {
  .concept-message-text {
    margin-top: 20px;
  }
}

.feature {
  padding: 88px 0 120px;
}
@media screen and (max-width: 767px) {
  .feature {
    padding-top: 50px;
    padding-bottom: 60px;
    max-width: 340px;
  }
}

.feature__list {
  margin-top: 64px;
}
@media screen and (max-width: 767px) {
  .feature__list {
    margin-top: 46px;
  }
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .feature__item {
    flex: 0 0 28.3333%;
  }
}
@media screen and (max-width: 767px) {
  .feature__item + .feature__item {
    margin-top: 49px;
  }
}

.feature__img img {
  width: 100%;
}

.feature__title {
  font-size: 16px;
  text-align: center;
}

.feature-item-link {
  display: block;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .feature-item-link:hover .feature__img > img {
    transform: scale(1.05);
  }
}
.feature-item-link:hover {
  cursor: pointer;
}

.feature__img {
  overflow: hidden;
}
.feature__img > img {
  transition: transform 0.4s;
}

.feature__item__body {
  text-align: center;
  font-weight: bold;
  padding: 26px 12px;
}

.about {
  position: relative;
  padding: 120px 0;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .about {
    background: url(../img/sp/bg.png) center center/cover;
    background-size: cover;
    padding: 176px 0 52px;
  }
}
@media screen and (min-width: 768px) {
  .about {
    background: url(../img/bg.png) center center/cover;
    background-size: cover;
  }
}
.about::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.12);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-inner {
  position: relative;
}

.about-message {
  color: #fff;
}

.about-message-title {
  font-size: 22px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .about-message-title {
    font-size: 20px;
  }
}

.about-message-text {
  font-size: 16px;
  margin-top: 28px;
}
@media screen and (max-width: 767px) {
  .about-message-text {
    font-size: 14px;
    margin-top: 22px;
    line-height: 1.7143;
  }
}

.products {
  max-width: 940px;
}
@media screen and (max-width: 767px) {
  .products {
    max-width: 340px;
    padding: 0 58px;
  }
}

.products__items {
  margin-top: 64px;
}
@media screen and (max-width: 767px) {
  .products__items {
    margin-top: 48px;
  }
}
@media screen and (min-width: 768px) {
  .products__items {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .products__item {
    flex: 0 0 27.6%;
  }
}
@media screen and (max-width: 767px) {
  .products__item + .products__item {
    margin-top: 40px;
  }
}

.products__img img {
  width: 100%;
}

.products__title {
  font-size: 14px;
  text-align: center;
  color: #333333;
  font-weight: normal;
  text-align: left;
}

.products-item-link {
  display: block;
  color: #333;
  background: #fff;
  text-decoration: none;
}
.products-item-link:hover {
  cursor: pointer;
}

.products-item-link {
  display: block;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .products-item-link:hover .products__img > img {
    transform: scale(1.05);
  }
}
.products-item-link:hover {
  cursor: pointer;
}

.products__img {
  overflow: hidden;
}
.products__img > img {
  transition: transform 0.4s;
}

.products__item__body {
  text-align: center;
  font-weight: bold;
  margin-top: 22px;
  padding: 12px;
}

.products__item__cost {
  color: #989898;
  margin-top: 10px;
  text-align: left;
}

.products-footer {
  text-align: center;
  margin-top: 44px;
}
@media screen and (max-width: 767px) {
  .products-footer {
    margin-top: 42px;
  }
}

.news {
  max-width: 1040px;
}
@media screen and (max-width: 767px) {
  .news {
    padding: 0 32px;
    max-width: 375px;
  }
}
.news a {
  text-decoration: none;
}

.news-list {
  margin-top: 28px;
  margin-top: 25px;
}

.news-item {
  border-bottom: solid 1px #e0e0e0;
}

.news-item-link {
  color: #333;
  font-size: 14px;
  padding: 22px 0;
  display: block;
}
@media screen and (min-width: 768px) {
  .news-item-link {
    display: flex;
    align-items: center;
  }
  .news-item-link:hover .news-item-picture > img {
    transform: translate(-50%, -50%) scale(1.05);
  }
}

@media screen and (min-width: 768px) {
  .news-item-header {
    flex: 0 0 260px;
  }
}

.news-item-picture {
  background: #000;
  padding-top: 61.5385%;
  position: relative;
  overflow: hidden;
}
.news-item-picture > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: transform 0.4s;
}

@media screen and (max-width: 767px) {
  .news-item-body {
    margin-top: 21px;
  }
}
@media screen and (min-width: 768px) {
  .news-item-body {
    flex: 0 1 100%;
    margin-left: 40px;
  }
}

.news-item-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
}
@media screen and (max-width: 767px) {
  .news-item-title {
    font-size: 16px;
  }
}

.news-item-text {
  color: #888;
  margin-top: 16px;
  line-height: 1.7143;
}

.news-footer {
  text-align: center;
  margin-top: 44px;
}

@media screen and (min-width: 768px) {
  .concept2-inner {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) {
  .concept-picture {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 767px) {
  .concept-message {
    margin-top: 34px;
  }
}
@media screen and (min-width: 768px) {
  .concept-message {
    flex: 0 1 50%;
    margin-left: 6.6667%;
  }
}

.concept2-message-title {
  font-size: 28px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .concept2-message-title {
    font-size: 20px;
  }
}

.concept2-message-text {
  margin-top: 30px;
  font-size: 16px;
  color: #333333;
  letter-spacing: -2.2px;
}
@media screen and (max-width: 767px) {
  .concept2-message-text {
    font-size: 14px;
    line-height: 1.7143;
    letter-spacing: -1px;
  }
}

.contact {
  background: url(../img/contact.png) center center/cover;
  margin-top: 225px;
  padding: 72px 40px 86px;
}
@media screen and (max-width: 767px) {
  .contact {
    margin-top: 92px;
    padding: 56px 28px;
  }
}
.contact .util-title {
  color: #3EA1D1;
}
.contact input[type=text],
.contact input[type=email],
.contact textarea {
  width: 100%;
  border: 0;
  font-size: 16px;
  padding: 0.2em 0.5em;
  box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
  border-radius: 2px;
}

input[type=text],
input[type=email] {
  height: 40px;
}

textarea {
  min-height: 122px;
  resize: vertical;
}

.contact-form {
  margin-top: 56px;
}
@media screen and (max-width: 767px) {
  .contact-form {
    margin-top: 26px;
  }
}

.contact-text {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
}

.contact-text-inline {
  font-size: 16px;
  color: #e7728e;
}

.contact-list {
  max-width: 510px;
  margin: 18px auto 0;
}

@media screen and (min-width: 768px) {
  .contact-item {
    display: flex;
  }
}
.contact-item + .contact-item {
  margin-top: 32px;
}

.contact-item-title {
  background: rgba(62, 161, 209, 0.7);
  color: #fff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 10px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .contact-item-title {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    padding: 0 16px;
  }
}
@media screen and (min-width: 768px) {
  .contact-item-title {
    flex: 0 1 100%;
  }
}
@media screen and (min-width: 768px) {
  .contact-item-title::after {
    content: "";
    top: 0;
    right: -8px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 20px 0 20px 8px;
    border-color: transparent transparent transparent rgba(62, 161, 209, 0.7);
  }
}

@media screen and (max-width: 767px) {
  .contact-item-input {
    margin-top: 3px;
  }
}
@media screen and (min-width: 768px) {
  .contact-item-input {
    flex: 0 0 320px;
    margin-left: 18px;
  }
}

.contact-text-inline {
  font-size: 12px;
  color: #E7728E;
  padding: 4px;
  vertical-align: super;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .contact-text-inline {
    font-size: 10px;
  }
}

.contact-radio-wrap {
  display: inline-flex;
  border: solid 1px #fff;
  border-radius: 1px;
  box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
}

.contact-radio {
  position: relative;
}

.contact-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.contact-radio-input:checked + .contact-radio-part {
  background-color: #3EA1D1;
  color: #fff;
  border-radius: 1px;
}
.contact-radio-input:focus + .contact-radio-part {
  outline: -webkit-focus-ring-color auto 5px;
}

.contact-radio-part {
  display: block;
  background: #fff;
  color: #3EA1D1;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
  transition: background-color 0.4s, color 0.4s;
}

.contact-footer {
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .contact-footer {
    margin-top: 14px;
  }
}

.contact-privacy {
  position: relative;
  height: 22px;
  width: 22px;
  display: inline-block;
  vertical-align: middle;
}

.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.contact-privacy-input:checked + .contact-privacy-part {
  width: 10px;
  border-top: 0;
  border-left: 0;
  background: transparent;
  transform: rotate(45deg);
  top: -5px;
  left: 5px;
}
.contact-privacy-input:checked:focus + .contact-privacy-part {
  outline: none;
}

.contact-privacy-part {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: solid 1px #3EA1D1;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s;
}

.contact-privacy-link {
  color: #3EA1D1;
  text-decoration: underline;
}

.contact-footer-submit {
  margin-top: 46px;
}
@media screen and (max-width: 767px) {
  .contact-footer-submit {
    margin-top: 24px;
  }
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}
.contact-message.-error {
  color: #f00;
}

.footer {
  color: #F7F7F7;
  padding: 42px 40px 12px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 36px 0 14px;
  }
}

.footer-logo {
  width: 120px;
  margin: 0 auto;
}

.footer-nav-list {
  margin-top: 8px;
}
@media screen and (max-width: 767px) {
  .footer-nav-list {
    text-align: center;
    margin-top: 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer-nav-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-nav-item + .footer-nav-item {
    margin-left: 30px;
  }
}

.footer-nav-item-link {
  font-size: 12px;
  color: #333;
  display: block;
  padding: 1em 0;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .footer-nav-item-link {
    padding: 0.3em 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-nav-item-link {
    transition: opacity 0.4s;
  }
  .footer-nav-item-link:hover {
    opacity: 0.7;
  }
}

.footer-sns-list {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer-sns-list {
    margin-top: 14px;
  }
}

.footer-sns-item {
  display: inline-block;
  text-align: center;
}
.footer-sns-item + .footer-sns-item {
  margin-left: 10px;
}

.footer-sns-item-link {
  font-size: 24px;
  color: #3EA1D1;
  display: block;
  padding: 0.1em 0.5em;
}
@media screen and (min-width: 768px) {
  .footer-sns-item-link {
    transition: opacity 0.4s;
  }
  .footer-sns-item-link:hover {
    opacity: 0.7;
  }
}

.footer-copyright {
  color: #888;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .footer-copyright {
    margin-top: 5px;
  }
}
